body{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#editor {
    width: 100%;
    max-height: 90%;

}

.cm-editor {
    height: 100%

}


/* Custom CSS */
.compiler-scroll-box {
    /* Set the maximum height for the compiler results alert */
    max-height: 200px; 
    /* Enable vertical scrolling if content exceeds max-height */
    overflow-y: auto; 
    /* Ensure no horizontal scrollbar appears unless absolutely necessary */
    overflow-x: hidden;
}


.cm-scroller {
    overflow: auto;
}


.cm-line.error-line {
    background-color: #ffdddd;

}

.list-group {

    height: 85%;
    overflow: auto;
   border: 1px solid #495057;
}

.cm-gutters {
    background: red
}

.list-group-item img {
    max-width: 80px;
}

#compiler-results{
    max-height: 200px;
    overflow: auto;
}

.shader-description {
    flex-shrink: 1;
  }


  